stages:
  - build
  - test
  - analyze

variables:
  SONARQUBE_URL: http://sonarqube:9000
  SONAR_TOKEN: $SONAR_TOKEN

services:
  - docker:dind

build:
  stage: build
  script:
    - docker build -t myapp:latest .
    - docker tag myapp:latest $CI_REGISTRY/mygroup/myapp:$CI_COMMIT_SHA
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker push $CI_REGISTRY/mygroup/myapp:$CI_COMMIT_SHA
  tags:
    - docker

test:
  stage: test
  script:
    - docker run -d -p 5000:5000 myapp:latest
    - curl --silent --fail http://localhost:5000/ | grep 'Welcome to the Web App!'
    - docker stop $(docker ps -q)
  tags:
    - docker

analyze:
  stage: analyze
  image:
    name: sonarsource/sonar-scanner-cli
    entrypoint: [""]
  script:
    - sonar-scanner \
      -Dsonar.projectKey=myapp \
      -Dsonar.projectName=My App \
      -Dsonar.sources=. \
      -Dsonar.host.url=$SONARQUBE_URL \
      -Dsonar.login=$SONAR_TOKEN
  only:
    - main
